<%- include('head', {namePage: "Gestion des budgets", typePage: "budgets"}); %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Gestion des budgets</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#MyModal">
                      Ajouter un budget exceptionnel
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <h3>Liste des budgets: </h3>
                </div>


                <div class="col-lg-4 text-right">
                    <h4>
                        <select id="selPers" onchange="updPage()">
                            <option value="all" <% if(whoIs=="all"){ %><%- "selected" %> <% } %>>-Toutes les personnes-</option>
                    <% for(var ind = 0; ind < listPersonnes.length; ind++){ %>
                            <option value="<%- listPersonnes[ind].id_personne %>" <% if(listPersonnes[ind].id_personne==whoIs){ %><%- "selected" %> <% } %>>
                            <%- listPersonnes[ind].prenom_personne+" "+listPersonnes[ind].nom_personne %>
                            </option>
                    <% } %>
                        </select>
                    </h4>
                </div>

                <table class="table table-bordered table-striped">
                    <tr>
                      <th>ID</th>
                      <th>Emetteur</th>
                      <th>Recepteur</th>
                      <th>Date</th>
                      <th>Origine</th>
                      <th>Montant</th>
                      <th>Gestion</th>
                    </tr>
                <% for(let ind=0; ind < listeBudget.length; ind++){ %>
                    <tr>
                      <td>#<%= listeBudget[ind].id_budget %></td>
                      <td><% if(listeBudget[ind].emetteur_prenom==null || listeBudget[ind].emetteur_nom==null){ %><%- "<i>Utilisateur supprimé</i>" %><% } else { %><%= listeBudget[ind].emetteur_prenom+" "+listeBudget[ind].emetteur_nom %><% } %></td>
                      <td><% if(listeBudget[ind].recepteur_prenom==null|| listeBudget[ind].recepteur_nom==null){ %><%- "<i>Utilisateur supprimé</i>" %><% } else { %><%= listeBudget[ind].recepteur_prenom+" "+listeBudget[ind].recepteur_nom %><% } %></td>
                      <td><%= listeBudget[ind].m_date_budget %></td>
                      <td><%=  listeBudget[ind].nom_raison %></td>
                      <td class="text-danger text-right">-<%= listeBudget[ind].montant_budget.toFixed(2) %> &euro;</td>
                      <td><a class="btn btn-warning" href="/updBudget/<%- listeBudget[ind].id_budget %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a> <a class="btn btn-danger" href="/delBudget/<%- listeBudget[ind].id_budget %>"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Supprimer</a></td>
                    </tr>
                <% } %>
                </table>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->


    <div class="modal fade bs-example-modal-lg" id="MyModal" tabindex="-1" role="dialog" data-target=".bs-example-modal-lg">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ajouter un nouveau budget</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="/addBudget" method="post" onsubmit="return trySub()">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Selectionnez une personne &eacute;mettrice</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="personnes_e" id="personnes1">
                        <option value="0">-Selectionner une personne-</option>
                        <% for(let ind = 0; ind < listePersonnes.length; ind++){ %>
                           <%- "<option value='"+listePersonnes[ind].id_personne+"'>"+listePersonnes[ind].prenom_personne+" "+listePersonnes[ind].nom_personne+"</option>" %>
                        <% } %>
                        </select>
                    </div>
                </div>
                <p class="text-center">-OU-</p>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Ajouter une personne</label>
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="nom_e" id="nom1" placeholder="Entrez un nom"/>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="prenom_e" id="prenom1" placeholder="Entrez un prénom"/>
                        </div>
                     </div>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Selectionnez une personne r&eacute;ceptrice</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="personnes_r" id="personnes2">
                        <option value="0">-Selectionner une personne-</option>
                        <% for(let ind = 0; ind < listePersonnes.length; ind++){ %>
                           <%- "<option value='"+listePersonnes[ind].id_personne+"'>"+listePersonnes[ind].prenom_personne+" "+listePersonnes[ind].nom_personne+"</option>" %>
                        <% } %>
                        </select>
                    </div>
                </div>
                <p class="text-center">-OU-</p>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Ajouter une personne</label>
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="nom_r" id="nom2" placeholder="Entrez un nom"/>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="prenom_r" id="prenom2" placeholder="Entrez un prénom"/>
                        </div>
                     </div>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Selectionnez une origine</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="raisons" id="raisons">
                            <option value="0">-Selectionner une origine-</option>
                        <% for(let ind = 0; ind < listeRaisons.length; ind++){ %>
                           <%- "<option value='"+listeRaisons[ind].id_raison+"'>"+listeRaisons[ind].nom_raison+"</option>" %>
                        <% } %>
                        
                        </select>
                    </div>
                </div>
                <p class="text-center">-OU-</p>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Ajouter une origine</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="newRaison" id="newRaison" placeholder="Entrez une origine"/>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Montant de la transaction</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="number" class="form-control" name="montant" step="0.01" min=0 placeholder="Entrez un montant" required/>
                            <span class="input-group-addon">&euro;</span>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Date de la transaction</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="datepicker" name="date" placeholder="Entrez une date" required/>
                    </div>
                </div>

                <hr/>

                <div id="erreur" class="text-danger"></div>

                <button type="submit" class="btn btn-success col-sm-offset-11">Valider</button>

            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade bs-example-modal-lg" id="ValidModal" tabindex="-1" role="dialog" data-target=".bs-example-modal-lg">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ajouter un nouveau budget</h4>
          </div>
          <div class="modal-body">
            <p><% if(validForm == 1){ %>
                <%- "Votre nouveau budget a &eacute;t&eacute; ajout&eacute;." %>
            <%  } else if(validForm == 2){ %>
               <%- "Le budget a &eacute;t&eacute; supprim&eacute;" %>
            <% } %> 
            </p>
            <button type="button" class="btn btn-primary col-sm-offset-11" data-dismiss="modal">OK</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <script>
      function trySub(){
        var inpNom1 = document.getElementById("nom1").value;
        var inpPrenom1 = document.getElementById("prenom1").value;
        var inpPersonnes1 = document.getElementById("personnes1").value;
        var inpNom2 = document.getElementById("nom2").value;
        var inpPrenom2 = document.getElementById("prenom2").value;
        var inpPersonnes2 = document.getElementById("personnes2").value;
        var inpRaisons = document.getElementById("raisons").value;
        var inpNewRaison = document.getElementById("newRaison").value;
        var spanErr = document.getElementById("erreur");

        if(inpNom1 == "" && inpPrenom1 == "" && inpPersonnes1==0){
            spanErr.innerHTML = "<span>Veuillez renseigner une personne</span>";
            return false;
        }
        if(inpNom2 == "" && inpPrenom2 == "" && inpPersonnes2==0){
            spanErr.innerHTML = "<span>Veuillez renseigner une personne</span>";
            return false;
        }
        if(inpNewRaison == "" && inpRaisons == 0){
            spanErr.innerHTML = "<span>Veuillez renseigner une raison</span>";
            return false;
        }
        return true;
      }

      function updPage(){
        var selPers = document.getElementById('selPers').value;
        window.location.replace("/budget/"+selPers);
      }

      $( function() {
        $( "#datepicker" ).datepicker({
          dateFormat: "yy-mm-dd"
        });
      } );
        <% if(validForm!=0){ %>
              <%- "$('#ValidModal').modal('show');" %>
        <% } %>
    </script>

<%- include('foot', {}); %>