<%- include('head', {namePage: "Index", typePage: "index"}); %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Bienvenue <%= prenom %></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <h3>Liste des transactions: </h3>
                </div>


                <div class="col-lg-4 text-right">
                    <h4>
                        <select id="selPers" onchange="updPage()">
                        <option value="0" <% if(whoIs=="all"){ %><%- "selected" %> <% } %>>-Toutes les personnes-</option>
                    <% for(var ind = 0; ind < listPersonnes.length; ind++){ %>
                            <option value="<%- listPersonnes[ind].id_personne %>" <% if(listPersonnes[ind].id_personne==whoIs){ %><%- "selected" %> <% } %>>
                            <%- listPersonnes[ind].prenom_personne+" "+listPersonnes[ind].nom_personne %>
                            </option>
                    <% } %>
                        </select>
                    </h4>
                </div>

	            <table class="table table-bordered table-striped">
				  	<tr>
					  <th>ID</th>
					  <th>Personne</th>
					  <th>Total</th>
					</tr>
                    <% for(var ind = 0; ind < totalTransac.length; ind++){ %>
					<tr <% if(whoami == totalTransac[ind].id){ %>
                        <%- 'class="info"' %>
                        <% } %>>
					  <td><a href="/index/<%- totalTransac[ind].id %>">#<%- totalTransac[ind].id %></a></td>
					  <td><%- totalTransac[ind].nom %></td>
                      <% if(totalTransac[ind].total < 0){ %>
					  <td class="text-danger text-right"><%- totalTransac[ind].total.toFixed(2) %> &euro;</td>
                      <% } else { %>
                      <td class="text-success text-right">+<%- totalTransac[ind].total.toFixed(2) %> &euro;</td>
                     <% } %>
					</tr>
                    <% } %>
				</table>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

 

    <script>

      function updPage(){
        var selPers = document.getElementById('selPers').value;
        window.location.replace("/index/"+selPers);
      }

    </script>

<%- include('foot', {}); %>